<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="stadion" type="Stadion.Core.Settings.StadionSettings, Stadion.Core" />
    <section name="images" type="Stadion.Core.Settings.ImageSettings, Stadion.Core" />
    <section name="feedSettings" type="Stadion.Core.Football.Configuration.FootballDataProviderConfiguration, Stadion.Core.Football, Version=1.0.0.0, Culture=neutral" />

    <section name="football" type="Stadion.SitecoreCms.Modules.FootballModule.Settings.SitecoreFootballSettings, Stadion.SitecoreCms.Modules.FootballModule, Culture=neutral" />
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <stadion configSource="App_Config\dsp.config" />
  <feedSettings configSource="App_Config\Opta.config" />
  <images configSource="App_Config\dsp.images.config" />
  <football configSource="App_Config\football.config" />
  <connectionStrings>
    <add name="footballData" connectionString="user id=xx-dev@xx;password=xx;Data Source=xx.database.windows.net;Database=SportsData;Connection Timeout=6000" />
    <add name="rediscache" connectionString=" lively.redis.cache.windows.net:6380,password=xx+ss=,ssl=True,abortConnect=False,allowAdmin=true" />

       <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=xx;AccountKey=todo" />
    <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=xx;AccountKey=todo" />
  </connectionStrings>
  <appSettings>
    <!-- Service Bus specific app setings for messaging connections -->
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=newcastlestadion;AccountKey=todo" />
    <add key="auth0:ClientId" value="J6Gb6RHOvzyL4XRSZgn3QudsMjoWKNig" />
    <add key="auth0:ClientSecret" value="K1G0HcWA_GC00hge4Mf6bloDrji2SiB3I5f_RXHCqwyle7yJTGYAS3BZH2BELCGU" />
    <add key="auth0:Domain" value="stadion.auth0.com" />


    <add key="Lively.auth0:ClientId" value="5cVTKEsTUZK5mFnVqoMacmuxWmmcnAPm" />
    <add key="Lively.auth0:ClientSecret" value="fp6mWwUt2vFTUsNWWol1PabvjSlYYDifcQBuf1IkywiooWVJGlneh2aeKb1zZC6H" />
    <add key="Lively.auth0:Domain" value="stadion.auth0.com" />
    <!-- S3 settings-->
    <add key="AWSProfileName" value="production" />
    <add key="AWSProfilesLocation" value="~/App_Data/awscredentials.txt" />
    <!-- cloudfornt settings-->
    <add key="AWSAccessKey" value="xx" />
    <add key="AWSSecretKey" value="xx" />
    <add key="BaseAPIUrl" value="https://dev.newcastle.stadion.io/" />
  </appSettings>
    <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.WebJobs" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Humanizer" publicKeyToken="979442b78dfc278e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AWSSDK" publicKeyToken="cd2d24cd2bace800" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.10.0" newVersion="1.5.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        
        <assemblyIdentity name="MiniProfiler" publicKeyToken="b44f9351044011a3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.157" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevTrends.MvcDonutCaching" publicKeyToken="73c58d802958a09f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.1.0" newVersion="1.3.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>