<?xml version="1.0" encoding="utf-8"?>
<images>

  <Default ExtraLargeWidth="400"  ExtraLargeHeight="400"
              LargeWidth="400"  LargeHeight="400"
              MediumWidth="300"  MediumHeight="300"
              SmallWidth="250" SmallHeight="250">
  </Default>

  <HeroModule ExtraLargeWidth="2400"  ExtraLargeHeight="1350"
              LargeWidth="1200"  LargeHeight="675"
              MediumWidth="900"  MediumHeight="506"
              SmallWidth="450" SmallHeight="253">
  </HeroModule>

  <NewsModule  ExtraLargeWidth="2400"  ExtraLargeHeight="1350"
              LargeWidth="1200"  LargeHeight="675"
              MediumWidth="900"  MediumHeight="506"
              SmallWidth="450" SmallHeight="253">
  </NewsModule>

  <PromoBox ExtraLargeWidth="2400"  ExtraLargeHeight="1350"
              LargeWidth="1200"  LargeHeight="675"
              MediumWidth="900"  MediumHeight="506"
              SmallWidth="450" SmallHeight="253">
  </PromoBox>
</images>