<?xml version="1.0" encoding="utf-8"?>
<stadion>
  <generalSettings
    enableResponsiveImages="true"
    host="xxx"
    blitlineApplictaionId="xx"
    facebookAppId="xx"
    isContentDeliveryServer="false"
    emailAddressEmailsAreFrom="support@stadion.io"
    googleTrackingCode="UA-xxx"
    googleTrackingCookieDomain="none"
    googleTagManagerId="xx"
    fixturesUrl="/fixtures"
    searchUrl="/search"
    
    socialSharingNetworks="facebook,whatsapp,messenger,twitter,email"
    newsletterSignupUrl="/NewsletterSignup"
    insertQuoteAfterHowManyParagraphs="3"
    insertVideoAfterHowManyParagraphs="6"
    insertGalleryAfterHowManyParagraphs="8"
    ratingsPoweredByImageUrl="/img/sponsors/whoscored.png"
    statsPoweredByImageUrl="/img/sponsors/opta.png"
    clearCdnOnPublish="false"
    imageQualityPercentage="75"
    imagesS3Bucket="xx"
    dataS3Bucket="xx-sportdata"
    browserTitlePrefix="Stadion"
    defaultBrowserTitle="Official Club Website"
    />

  <instagramSettings ClientSecret="secret" ClientId="1" ApiUri="https://api.instagram.com/v1" AccessToken="xx" />

  <cdnSettings host="dev.xx.xx.stadion.io" enabled="true" mediaHost="xx.cloudfront.net"  />
  <twitterSettings consumerSecret="xx"
                  consumerKey="xx"
                  accessToken="xx-xx"
                  accessTokenSecret="xx">
  </twitterSettings>
  <livelySettings baseUrl="https://web-lively.azurewebsites.net/" adminUrl="https://test.local.admin.lively.stadion.io/" userId="103403786056221477429" refreshToken="T51I84uvP9HnbBe77BEYOyUClIXZjkdVGVhD9bjPMaAJq">

  </livelySettings>
  <apiSettings loginEndpoint="https://xxx.stadion.io/AjaxLogin" baseUrl="https://dev.xx.stadion.io/" refreshToken="TTc7r9tv1qaVsRRCVPdcT3OgeGNppzWgvYdQVPYQz2urW" apiPrefix="/umbraco/backoffice/custom-api/">

  </apiSettings>

  <pubnubSettings publishKey="xx" subscriberKey="xx" secretKey="xxx">

  </pubnubSettings>


  <!-- -->
  <contentSettings faqsFolderId="3914" videoSponsorFolderId="4085" matchDaySponsorFolderId="4085" contextualLinksFolderId="2031" imageTemplateId="x"  downloadCalendarUrl="/fixtures/first-team?renderCalendar=true" >
  </contentSettings>
</stadion>